    <!-- Footer -->
    <footer class="footer-custom">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 footer-section">
                    <h5>Support</h5>
                    <ul class="footer-links">
                        <li><a href="#">Help Center</a></li>
                        <li><a href="#">AirCover</a></li>
                        <li><a href="#">Safety information</a></li>
                        <li><a href="#">Supporting people with disabilities</a></li>
                        <li><a href="#">Cancellation options</a></li>
                        <li><a href="#">Our COVID-19 Response</a></li>
                        <li><a href="#">Report a neighborhood concern</a></li>
                    </ul>
                </div>
                
                <div class="col-lg-3 col-md-6 footer-section">
                    <h5>Community</h5>
                    <ul class="footer-links">
                        <li><a href="#">Airbnb.org: disaster relief housing</a></li>
                        <li><a href="#">Combating discrimination</a></li>
                        <li><a href="#">Support Afghan refugees</a></li>
                    </ul>
                </div>
                
                <div class="col-lg-3 col-md-6 footer-section">
                    <h5>Hosting</h5>
                    <ul class="footer-links">
                        <li><a href="#">Try hosting</a></li>
                        <li><a href="#">AirCover for Hosts</a></li>
                        <li><a href="#">Explore hosting resources</a></li>
                        <li><a href="#">Visit our community forum</a></li>
                        <li><a href="#">How to host responsibly</a></li>
                    </ul>
                </div>
                
                <div class="col-lg-3 col-md-6 footer-section">
                    <h5>Airbnb</h5>
                    <ul class="footer-links">
                        <li><a href="#">Newsroom</a></li>
                        <li><a href="#">New features</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Investors</a></li>
                        <li><a href="#">Gift cards</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="footer-bottom">
                <div class="d-md-flex justify-content-between align-items-center">
                    <div class="footer-bottom-links">
                        <a href="#">
                            <i class="far fa-copyright"></i> 2023 Airbnb, Inc.
                        </a>
                        <a href="#">Privacy</a>
                        <a href="#">Terms</a>
                        <a href="#">Sitemap</a>
                    </div>
                    
                    <div class="d-md-flex align-items-center">
                        <div class="language-currency me-4">
                            <a href="#">
                                <i class="fas fa-globe"></i> English (US)
                            </a>
                            <a href="#">$ USD</a>
                        </div>
                        
                        <div class="social-icons">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>